<p class="Home">Welcome to the Todo Homepage</p>
<p class="HomeSection">If you are new user, sign up  <%= link_to 'here', new_user_path %>.</p>
<p class="HomeSection">If you are existing user sign in  <%= link_to 'here', new_sessions_path %>.</p>
