.Home {
  font-size: 20px;
  margin-bottom: 30px;
}

.HomeSection {
  font-size: 16px;
  margin-bottom: 25px;
}

.UserHeader {
  padding: 10px;
  background-color: #b7b7b7;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.FlashError {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
